$mainColor : #222;
$wColor : #f9f9f9;
$gColor : #555;
$bColor : #111;
$boColor : rgba(0, 0, 0, 0.75);
$subColor :#fff;

.inner {
    width: 117rem;
    margin: 0 auto;
}

body {
    background-color: #333;

}

@media (max-width: 768px) {
    .Wrapper {
        overflow-x: hidden;
    }
}