.mopen {
  display: none;
}

@media (max-width: 768px) {
  .mopen {
    display: block;
    position: fixed;
    top: 3rem;
    left: 80%;
    z-index: 99999999;
    font-size: 0;
    width: 3rem;
    height: 3rem;
    background: #eee;
    border-radius: 0.3rem;

  }

  .mopen button {
    border: none;
    outline: none;
    background: transparent;
    font-size: 0;
  }

  .mopen::before {
    top: 7px
  }

  .mopen::after,
  .mopen::before {

    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    height: 2px;
    background: #333;
  }

  .mopen::after {
    bottom: 7px;
  }


  .mopen button::before,
  .mopen button::after {

    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    height: 2px;
    background: #333;
    top: calc(50% - 1px);
  }

  .mopen.os::before,
  .mopen.os::after {
    opacity: 0;
  }

  .mopen.os button::before {
    transform: rotate(45deg);
  }

  .mopen.os button::after {
    transform: rotate(-45deg);
  }
}